body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    
}

.page{
width: 100vw;
height: 100vh;
}
#test2{
    display: flex;
    width: 100vw;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.page{
    display: flex;
    width: 100vw;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input[type=submit]{
color: white;
background-color: blue;
padding: 5px;
width: 4vw;
border-radius: 4px;
border-style: none;
border-color: blue;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}