body{
   
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
#lewo{
    background-color: #4785EB;
    width: 50vw;
    min-height: 100vh;
    display: flex;
    align-items: center;

}
#prawo{
    background-image: url("/static/images/lekarz.jpg");
    background-size: cover;
    width: 50vw;
    min-height: 100vh;
}
#prawopodziekowanie{
    
    background-size: cover;
    width: 50vw;
    min-height: 100vh;
}
#center{
    display: flex;
    flex-direction: column;
    width: 32vw;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-size: 56px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    font-size: 34px;
    color: rgb(8, 2, 100);
    font-family:;
}
button{
    padding: 16px;
    background-color: white;
    font-size: 15px;
    border-radius: 8px;
    border-color: white;
    border-style: none;
    
    

    width: 9vw;
}
#przyciski{
    display: flex;
   
}
#button_lewo{
    background-color: #08285a;
    
   
}
#button_prawo{
    margin-left: 5vw;
}
#button_lewo a {
    text-decoration: none;
    color:white;
}
#button_prawo a {
    text-decoration: none;
    color:#08285a;
}
#lewologowanie{
    background-color: #4785EB;
    width: 50vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#lewopodziekowanie{

    width: 50vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#username{
    background-color: rgba(255, 255, 255, 0);
    border:none;
border-bottom:5px solid white;
color: white;
font-size: 30px;
margin-bottom: 2vh;
margin-top: 2vh;
padding-left: 10px;
padding-bottom: 5px;
transition: 1s;
}
#password{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border:none;
border-bottom:5px solid white;
    color: white;
    font-size: 30px;
    padding-left: 10px;
    padding-bottom: 5px;
    transition: 1s;
    
}
::placeholder{
    color:rgba(255, 255, 255, 0.479); 
}
#username:hover{
    
    border-bottom:5px solid ;
}
#username:hover::placeholder{
    background-color: rgba(255, 255, 255, 0);
    border:none;
    color: white;
    transition: 0.5s;
    letter-spacing: 5px;
}
input[type=submit]{
    color: white;
    background-color: blue;
    padding: 5px;
    width: 10vw;
    border-radius: 4px;
    border-style: none;
    border-color: blue;
    margin-top: 2vh;
    font-size: 20px;;
    }
    #password:hover::placeholder{
        background-color: rgba(255, 255, 255, 0);
        border:none;
        color: white;
        transition: 0.5s;
        letter-spacing: 5px;
