<!DOCTYPE html>
<html>
<head>
    <title>Ankieta Zdrowia</title>
        {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style _ankieta.css' %}">
    <meta charset="UTF-8">
</head>
<body>
    <div>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Wyloguj się</a>
        {% endif %}
    </div>
    <div id="test">
    <form method="post">
        {% csrf_token %}
        <h1>Ankieta Zdrowia - Strona {{ page }}</h1>

        
    </div>
    <div id="test2">
            <!-- Strona 1 -->
            <div class="page">
                {% if health_info.page == 1 %}
                <h2>Jakie objawy choroby odczuwasz?</h2>
                <label for="symptoms">Objawy choroby:</label>
                <input type="text" id="symptoms" name="symptoms" value="{{ health_info.symptoms }}"><br>
                <input type="hidden" name="page" value="1">
                <input type="submit" value="Ok">
            </div>
        
            <!-- Strona 2 -->
            <div class="page">
                {% elif health_info.page == 2 %}
                <h2>Czy masz gorączkę?</h2>
                <input type="radio" id="has_fever_yes" name="has_fever" value="true" {% if health_info.has_fever %}checked{% endif %}>
                <label for="has_fever_yes">Tak</label><br>
                <input type="radio" id="has_fever_no" name="has_fever" value="false" {% if not health_info.has_fever %}checked{% endif %}>
                <label for="has_fever_no">Nie</label><br>
                <input type="hidden" name="page" value="2">
                <input type="submit" value="Ok">
            </div>
        
            <!-- Strona 3 -->
            <div class="page">
                {% elif health_info.page == 3 %}
                <h2>Czy cierpisz na jakieś przewlekłe choroby?</h2>
                <label for="chronic_illness">Przewlekłe choroby:</label>
                <input type="text" id="chronic_illness" name="chronic_illness" value="{{ health_info.chronic_illness }}"><br>
                <input type="hidden" name="page" value="3">
                <input type="submit" value="Ok">
            </div>
        
            <!-- Strona 4 -->
            <div class="page">
            {% elif health_info.page == 4 %}
                <h2>Podaj swoją wagę w kilogramach</h2>
                <label for="weight">Waga (kg):</label>
                <input type="text" id="weight" name="weight" value="{{ health_info.weight }}"><br>
                <input type="hidden" name="page" value="4">
                <input type="submit" value="Ok">
            </div>
        
            <!-- Strona 5 -->
            <div class="page">
                {% elif health_info.page == 5 %}
                <h2>Podaj swój wzrost w centymetrach</h2>
                <label for="height">Wzrost (cm):</label>
                <input type="text" id="height" name="height" value="{{ health_info.height }}"><br>
                <input type="hidden" name="page" value="5">
                <input type="submit" value="Ok">
            </div>
        
            <!-- Strona 6 -->
            <div class="page">
                {% elif health_info.page == 6 %}
                <h2>Jaki jest Twój wiek?</h2>
                <label for="age">Wiek:</label>
                <input type="text" id="age" name="age" value="{{ health_info.age }}"><br>
                <input type="hidden" name="page" value="6">
                <input type="submit" value="Ok">
            </div>
        
            <!-- Strona 7 -->
            <div class="page">
                {% elif health_info.page == 7 %}
                <h2>Czy choroba występuje u kogoś z Twojej rodziny?</h2>
                <input type="radio" id="has_family_illness_yes" name="has_family_illness" value="true" {% if health_info.has_family_illness %}checked{% endif %}>
                <label for="has_family_illness_yes">Tak</label><br>
                <input type="radio" id="has_family_illness_no" name="has_family_illness" value="false" {% if not health_info.has_family_illness %}checked{% endif %}>
                <label for="has_family_illness_no">Nie</label><br>
                <input type="hidden" name="page" value="7">
                <input type="submit" value="Ok">
            </div>
        
            <!-- Strona 8 -->
            <div class="page">
                {% elif health_info.page == 8 %}
                <h2>Czy podróżowałeś za granicę w ciągu ostatniego miesiąca?</h2>
                <input type="radio" id="has_traveled_yes" name="has_traveled" value="true" {% if health_info.has_traveled %}checked{% endif %}>
                <label for="has_traveled_yes">Tak</label><br>
                <input type="radio" id="has_traveled_no" name="has_traveled" value="false" {% if not health_info.has_traveled %}checked{% endif %}>
                <label for="has_traveled_no">Nie</label><br>
                <input type="hidden" name="page" value="8">
                <input type="submit" value="Ok">
            </div>
        
            <!-- Strona 9 -->
            <div class="page">
                {% elif health_info.page == 9 %}
                <h2>Czy miałeś kontakt z osobą zarażoną koronawirusem?</h2>
                <input type="radio" id="has_contact_yes" name="has_contact" value="true" {% if health_info.has_contact %}checked{% endif %}>
                <label for="has_contact_yes">Tak</label><br>
                <input type="radio" id="has_contact_no" name="has_contact" value="false" {% if not health_info.has_contact %}checked{% endif %}>
                <label for="has_contact_no">Nie</label><br>
                <input type="hidden" name="page" value="9">
                <input type="submit" value="Ok">
            </div>
        
            <!-- Strona 10 -->
            <div class="page">
                {% elif health_info.page == 10 %}
                <h2>Czy stosujesz jakieś leki? Jesli tak, to jakie?</h2>
                <label for="medications">Stosowane leki:</label>
                <input type="text" id="medications" name="medications" value="{{ health_info.medications }}"><br>
                <input type="hidden" name="page" value="10">
                <input type="submit" value="Ok">
            </div>
        
            <!-- Strona 11 -->
            <div class="page">
                {% elif health_info.page == 11 %}
                <h2>Podaj swoją płeć</h2>
                <input type="radio" id="gender_female" name="gender" value="female" {% if health_info.gender == 'female' %}checked{% endif %}>
                <label for="gender_female">Kobieta</label><br>
                <input type="radio" id="gender_male" name="gender" value="male" {% if health_info.gender == 'male' %}checked{% endif %}>
                <label for="gender_male">Mężczyzna</label><br>
                <input type="radio" id="gender_other" name="gender" value="other" {% if health_info.gender == 'other' %}checked{% endif %}>
                <label for="gender_other">Nie chcę podawać</label><br>
                <input type="hidden" name="page" value="11">
                <input type="submit" value="Ok">
            </div>
        
            <!-- Strona 12 -->
            <div class="page">
                {% elif health_info.page == 12 %}
                <h2>Czy jesteś w ciąży?</h2>
                <input type="radio" id="is_pregnant_yes" name="is_pregnant" value="true" {% if health_info.is_pregnant %}checked{% endif %}>
                <label for="is_pregnant_yes">Tak</label><br>
                <input type="radio" id="is_pregnant_no" name="is_pregnant" value="false" {% if not health_info.is_pregnant %}checked{% endif %}>
                <label for="is_pregnant_no">Nie</label><br>
                <input type="hidden" name="page" value="12">
                <input type="submit" value="Ok">
            </div>
        
            <!-- Strona 13 -->
            <div class="page">
                {% elif health_info.page == 13 %}
                <h2>Gdzie mieszkasz?</h2>
                <label for="address">Adres:</label>
                <input type="text" id="address" name="address" value="{{ health_info.address }}"><br>
                <input type="hidden" name="page" value="13">
                <input type="submit" value="Wyślij">
            </div>
        </div>
        {% endif %}
    </form>
</body>
</html>
