<!DOCTYPE html>
<html lang="pl">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Strona główna</title>
     {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="lewo"> <div id="center">
        <div id="tytul"><h1>Twoje zdrowie</h1></div>
        <div id="podtytul"><h2>Diagnoza Twojej choroby bez wychodzenia z domu</h2></div>
        <div id="przyciski">
        <button id="button_lewo"><a href="{% url 'login' %}" >Zaloguj się</a></button>
        <button id="button_prawo"><a href="{% url 'register' %}">Zarejestruj się</a></button>

        </div>
    </div>  
        </div>
    <div id="prawo"></div>

</body>
</html>
