<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Logowanie</title>
</head>
<body>
    <div id="lewologowanie"><div id="tytul"><h1>Logowanie</h1></div><div id="center">
        {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}<br>
        
        <input  type="text" id="username" placeholder="LOGIN" name="username" required><br>
        
        <input type="password" id="password" placeholder="HASŁO" name="password" required><br>
        <input type="submit" value="Zaloguj">
    </form></div></div>

    <div id="prawo"></div>
</body>
</html>
