<!DOCTYPE html>
<html>
<head>
    <title>Wylogowano</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    <div id="lewo"> <div id="center"> <h1>Zostałeś wylogowany</h1>
    <!-- Możesz dodać dodatkowy tekst lub treść -->
    <button><a href="/" >Powrót</a></button></div></div>
    <div id="prawo"></div>
</body>
</html>
