<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Rejestracja</title>
</head>
<body>
    <div id="lewologowanie"> <div id="center"></div>
    <h1>Rejestracja</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Zarejestruj">
        
    </form>
    </div>
    <div id="prawo"></div>
</body>
</html>
