<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Wyloguj się</a>
{% endif %}

</head>
<body style="background-image: url(/static/images/tlo.png); background-size: cover;>
    <div id="lewopodziekowanie"> <div id="center"> <h1>Twoje Zdrowie</h1>

        <h1>Dziękujemy za wypełnienie ankiety</h1>
        <h2>RAPORT WRAZ Z PRAWDOPODOBNĄ CHOROBĄ ZOSTAŁ PRZESŁANY NA TWÓJ ADRES E-MAIL</h2>
        <a href="{% url 'generate_pdf' %}">Generuj PDF</a>

    <!-- Przycisk powrotu -->
    {% if user.is_authenticated %}
        <a href="/health">Powrót</a>
    {% else %}
        <a href="/home">Powrót</a>
    {% endif %}
    </div></div>
    <div id="prawopodziekowanie">
        
    </div>
</body>
</html>
